<div class="main-home">
	<div class="col-xs-4 col-sm-4 col-md-4 side-bar">
		<h1 class="rooms-label">Rooms</h1>
		<div class="list-group">
		  <a href="#" class="list-group-item">
		    Cras justo odio
		  </a>
		  <a href="#" class="list-group-item">Dapibus ac facilisis in<span class="badge">12</span></a>
		  <a href="#" class="list-group-item active">Morbi leo risus<span class="badge">177</span></a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item">Vestibulum at eros</a>
		</div>
	</div>
	<div class="col-xs-8 col-sm-8 col-md-8 devices">
		<h1 class="devices-label">Connected Devices</h1>

		<div class="panel panel-default device">
		  <div class="panel-heading">
		    <h3 class="panel-title device-name">Temp Light Bulb</h3>
		  </div>
		  <div class="panel-body device-controls">
			  <i class="fa fa-lightbulb-o fa-10" aria-hidden="true"></i>
			  <input id="rangeInput" type="range" orient="vertical" />
			  <label id="rangeText" />
		  </div>
		</div>
	</div>
</div>