.add-device
{	
	margin: auto;
	text-align: center;
	width: 500px;
	h1
	{
		font-weight: lighter;
		font-size: 5em;
		letter-spacing: 3px;
		margin: 100px 0;
	}

	input
	{
		width: 100%;
		font-size: 1.3em;
		letter-spacing: 3px;
		padding: 25px;
		margin: 25px 0;
	}

	.add-device-button
	{
	
		margin: 50px 0 !important;
		padding: 25px !important;
		display: block;
	}

	.pin-selector,.room-selector,.type-selector,.icon-selector,.light-color-selector
	{
		transition-duration: 0.4s;
		.dropdown-toggle
		{
			width: 100%;
			font-size: 1.3em;
			padding: 25px;
			margin:25px 0;
			letter-spacing: 3px;
			transition-duration: 0.4s;
			border: 2px solid #010101;
			border-radius: 0%;
			&:hover,&:active,&:focus
			{
				background-color: #010101 !important;
				color: white
			}
		}

		.caret
		{
			font-size: 1.3em;
		}

		.dropdown-menu
		{
			width: 100%;
			text-align: center;
			margin-top: -23px;
			border-radius: 0%;
			font-size: 1.2em;
			border-width: 2px;
			padding-top: 0px;
			padding-bottom: 0px;
			border-color: #010101;
			li a
			{
				padding: 15px;
				font-size: 1em;
				transition-duration: 0.4s;
				&:hover,&:active,&:focus
				{
					background-color: #010101 !important;
					color: white;
				}
				
				&.color-yellow
				{
					color:#FFC107;
				}
				&.color-red
				{
					color: #f44336;
				}
				&.color-green
				{
					color: #4CAF50;
				}
				&.color-blue
				{
					color: #2196F3;
				}
			}
		}
	}

	i
	{
		font-size: 2em;
		padding-right: 5px;
		margin-top: 2px;
	}

	label.multicolor-label
	{
		padding: 25px;
		padding-bottom: 12px;
		margin: 25px;
		margin-bottom: 0px;
		font-weight: lighter;
		font-size: 2em;
		letter-spacing: 3px;
	}
	input[name="multicolor"]
	{
		height: 25px;
		width: 25px;
		margin-top: 10px;
		appearance: none;
		cursor: pointer;
		border: 2px solid #010101;
		border-radius: 55%;
		transition-duration: 0.4s;
		&:checked
		{
			border-color: #4CAF50;
			background-color: #4CAF50;
		}
		&:hover
		{
			transform: scale(1.3,1.3);
			background-color: #4CAF50;
		}
		&:focus
		{
			outline:none;
		}
	}
}