// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.root-home
{

	text-align: center;
	max-width: 900px;
	margin: auto;
	h1
	{
		letter-spacing: 10px;
		font-weight: lighter;
		font-size: 6em;
		padding-top: 100px;
		margin-bottom: 50px;
	}

	h2
	{
		letter-spacing: 3px;
		font-weight: 100;
		font-size: 2.8em;
		margin-bottom: 50px;
	}
	
	.divider
	{
		border: 5px solid #424242;
		max-width: 200px;
		margin: auto;
		margin-top:50px;
		margin-bottom: 50px;
		text-align: center;
	}

	.feature
	{
		letter-spacing: 3px;
		font-weight: lighter;
		font-size: 2.5em;
		line-height: 2.5em;
	}

	.home-page-button
	{
		padding:25px !important;
		margin-top: 10px;
		width: 400px;
		font-size: 1.5em;
		letter-spacing: 3px;
	}	

}

.main-home
{
	.list-group
	{
		max-width: 400px;
		width: 100%;
		padding: 25px;
		margin: 25px;
		margin-top:0px;
	}

	.device
	{
		padding: 25px !important;
		margin:25px !important;
		min-height: 450px;
		.panel-heading
		{
			padding: 15px 0;

			.panel-title
			{
				font-weight: normal;
				font-size: 1.5em;
				letter-spacing: 3px;
			}
		}
		.remove-device
		{
			float: right;

			.fa-times
			{
				color: #f44336;
			}
		}
		.device-controls
		{
			position: relative;
			text-align: center;
			width: 100%;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			input[type=range]
			{
				width: 100%;
			}

			input + label
			{
				font-weight: normal;
			}
			.color-selector
			{
				

				input[name=color]
				{
					visibility: hidden;
				}

				.choose-color-label{
					font-size: 1.2em;
					font-weight: normal;
				}
				.color-label
				{
					min-width: 1.3em;
					min-height: 1.3em;
					border-width: 1px;
					border-radius: 50%;
					border-style: solid;
					border-color:	white;
					margin: 10px;
					vertical-align: middle;
					&.red-label
					{
						background-color: #f44336;
					}
					&.blue-label
					{
						background-color: #1E88E5;
					}
					&.green-label
					{
						background-color: #388E3C;
					}
					&.yellow-label
					{
						background-color: #FFD600;
					}
					&.cyan-label
					{
						background-color: #00BCD4;
					}
					&.magenta-label
					{
						background-color: #EC407A;
					}
					&.active-color
					{
						border-color: #010101;
						border-width: 3px;
					}
				}
			}
		}
	}
	.rooms-label,.devices-label,
	{
		font-size: 3em;
		letter-spacing: 3px;
		font-weight: lighter;
		padding: 25px 0px 0px 25px;
		margin: 25px 0px 0px 25px;
	}

	.devices-label
	{
		padding-left: 0px;
		display: inline-block;
	}
	.room-controls
	{
		display: inline-block;
	}
	 
	.list-group-item
	{
		padding:20px 25px;
		color: #020202;
		&.active
		{
			background-color: #020202 !important;
			color: white !important;
			border-color: #020202 !important;
		}

		.badge
		{
			background-color: #020202;
			color: white;

		}
		&.active .badge
		{
			background-color: white;
			color: #020202 !important;
		}
	}
	
	.right-side,.left-side
	{
		min-height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
		>div
		{
			width:100%;
		}
	}
	.left-side
	{
		padding-left: 0px;
		border-right: 1px solid #DDD;
	}
	.right-side
	{
		border-left: 1px solid #DDD;
	}
}


.btn-schedule-device,.btn-remove-device
{
	background-color: white;
	border-color: #29B6F6;
	color: #29B6F6;
	font-weight: normal;
	transition-duration: 0.4s;
	&:hover,&:active,&:focus{
		border-color: white;
		background-color: #29B6F6;
		color:white;
	}
}
.btn-remove-device
{
	border-color: #f44336;
	color: #f44336;
	&:hover,&:active,&:focus
	{
		background-color: #f44336;
	}
}

.light-enabled
{
	color:	#FFD600;
}
.light-disabled
{
	color: #333 !important;
	opacity: 1 !important;
}
.fan-enabled,.generic-enabled
{
	color: #66BB6A !important;
}
.generic-disabled
{
	color: #333
}

.multicolor-0,.multicolor-disabled
{
	pointer-events: none;
	opacity: 0.5;
	cursor: not-allowed;
}

.yellow-light
{
	color: #FFD600;
}
.red-light
{
	color: #f44336;
}
.green-light
{
	color: #388E3C;
}
.blue-light
{
	color: #1E88E5;
}
.magenta-light
{
	color: #EC407A;
}
.cyan-light
{
	color: #00BCD4;
}

i.fan
{
	color: #333;
}


.schedule-modal
{
	.modal-dialog
	{
		width: 800px;
		margin: 50px auto;
	}
	label,select
	{
		text-align: right;
		font-weight: normal;
	}
	label
	{
		font-size: 1.2em;
	}
	.modal-body > .row
	{
		padding:10px !important;

		select
		{
			width: 100%;
		}
	}

	.schedule-error
	{
		font-size: 1.2em;
		color: #f44336;
		letter-spacing: 2px;
		display:inline-block;
		margin-right: 50px;
	}
}

.remove-device
{
	cursor: pointer;
}
.remove-device-modal
{
	text-align: center;

	.modal-body p
	{
		text-align: center;
		font-size: 1.4rem;
		font-weight: normal;
		line-height: 5em;
	}
}

.dropdown-menu.room-controls 
{	
	min-width: 0px;
	width: 100%;
	padding: 0;
	li a 
	{
		padding: 10px;
		font-size: 1.2em;
		i
		{
			padding-right: 15px;
		}
		transition-duration: 0.3s;
		&:hover,&:focus,&:active
		{
			font-size: 1.5em;
		}
	}
}









